@inherits LayoutComponentBase

<HeadContent>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/spectre.css" />
    <link rel="stylesheet" href="/css/spectre-icons.css" />
    <!--ShrineFox Styles-->
    <link rel="stylesheet" href="/css/theme/theme.css" />
    <link rel="stylesheet" href="/css/theme/notice.css" />
    <link rel="stylesheet" href="/css/theme/tags.css" />
    <link rel="stylesheet" href="/css/theme/scrollbar.css" />
    <link rel="stylesheet" href="/css/theme/google.css" />
    <link rel="stylesheet" href="/css/theme/sidebar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/ytv.css" />
    <!-- Scripts -->
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jscolor.js" type="text/javascript"></script>
    <script src="/js/sidebar.js" type="text/javascript"></script>
    <script src="/js/theme.js" type="text/javascript"></script>
    <script src="/js/ytv.js" type="text/javascript"></script>
    <script src="/js/toggle.js" type="text/javascript"></script>
</HeadContent>

<div class="page">
    <NavMenu/>
    <section id="maincontent">
        <!--Video Background-->
        <div class="videocontainer">
            <img src="/images/header.webp" class="header-img">
            <img src="/images/waves-grey.webp" class="waves-img">
        </div>
        <!--Search-->
        <div class="googlesearchcontainer">
            <div class="googlesearch">
                <script async src="https://cse.google.com/cse.js?cx=38ad766f435ddfed4"></script>
                <div class="gcse-search"></div>
            </div>
        </div>
        <form role="main" class="pb-3">

            @Body
            
            <Footer/>
        </form>
    </section>
</div>
