@page "/about"
@using ShrineFoxCom.Components.Elements
@using ShrineFoxCom.Components.Elements.Spectre_Framework
@using ShrineFoxCom.Components.HomePageComponents
@using ShrineFoxCom.Components.Pages.WebApps

<PageTitle>ShrineFox.com - About</PageTitle>

<PageNavHeader CurrentPageName="About"/>

<Container>
	<Columns>
		<Column WidthMax=6 WidthLarge=6 WidthMid=12>
			<h2>About Me</h2>
			I'm a <b>software developer</b> who loves unconventional ways to customize tech: romhacks, jailbreaking, OS tweaks, you name it.
			<br><br>For over 10 years, I've created  <b><a href="https://www.youtube.com/c/ShrineFoxMods">YouTube videos</a></b> related to <b>game modding</b>. 
			<br>Then, in 2024, I became an editor for <a href="https://www.youtube.com/vinesauce">Vinesauce</a>!
			<br>You can see <a href="https://www.youtube.com/watch?v=oeRD_fGFhdA&list=PLU6By7bu-RSs6FRsdyYotRzhFm2l7CEYv">a sample of my video editing work here</a>.
			<br><br>Outside of that, I'm mostly known for creating some of the earliest Persona modding tutorials, and launching ambitious character replacement mods.
			<br><br>Here are some of my most notable projects:
			<ul>
				<li><a href="https://shrinefox.github.io/en/adachi.html">Persona 5 Adachi Mod</a></li>
				<li><a href="https://shrinefox.com/Mipha">Breath of the Wild Mipha Mod</a></li>
				<li><a href="https://github.com/ShrineFox/Persona-5-Mod-Menu">Persona 5 Mod Menu</a></li>
				<li><a href="https://shrinefox.com/EarthBound">EarthBound Mod Menu</a></li>
				<li><a href="https://shrinefox.com/Vinesauce">Persona 5 Royal Vinesauce Mod</a></li>
			</ul>
		</Column>
		<Column WidthMax=6 WidthLarge=6 WidthMid=12 Centered=true>
			<div class="video-responsive">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=uz4FhMj9PbHnZt2C&amp;list=PLU6By7bu-RSsEsisF55N15AzI6c3JV5TF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
		</Column>
	</Columns>
</Container>

<Line Break=3 />

<Container>
	<Columns>
		<Column WidthMax=6 WidthLarge=6 WidthMid=12 Centered=true>
			<div class="video-responsive">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=ObYWrfHokkBbwMDO&amp;list=PLU6By7bu-RSsDCCVECx1Z5duUuFWSqZrw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
		</Column>
		<Column WidthMax=6 WidthLarge=6 WidthMid=12>
			<h2>Mission</h2>
			I want to make modding more accessible for everyone. Everything I've created has been made possible by brilliant minds from all around the world.
			<br>
			<br>To give back to the community, on this site I provide video tutorials & step-by-step guides, which you can find on my blog:
			<ul>
				<li><a href="https://shrinefox.com/blog/">shrinefox.com/Blog</a></li>
			</ul>
			<br>Also check out this page to learn how to mod various Persona games:
			<ul>
				<li><a href="https://shrinefox.com/getstarted">shrinefox.com/GetStarted</a></li>
			</ul>
			<br>There's also plenty of useful resources you can download from here:
			<ul>
				<li><a href="https://shrinefox.com/browse/">shrinefox.com/Browse</a></li>
			</ul>
		</Column>
	</Columns>
</Container>

<Line Break=3/>

<Container>
	<Columns>
		<Column WidthMax=6 WidthLarge=6 WidthMid=12>
			<h2>Support</h2>
			If you would like to support me, please leave a tip via <a href="https://ko-fi.com/shrinefox">Ko-Fi</a>,
			<br>which accepts PayPal and Stripe. Any contribution is greatly appreciated and <b>helps keep the site online</b>.

			<Line Break=2 />

			<h2>Contact</h2>
			Message me on <a href="https://ko-fi.com/shrinefox">Ko-Fi</a> if you have any personal requests. This will notify me via e-mail.
			<br>You may also <a href="ryan@shrinefox.com">email me directly</a>, but <b>please be aware I don't frequently check this inbox</b>.
			<br>The best way to keep up with me on social media is on <a href="https://bsky.app/profile/shrinefox.com">BlueSky</a>.

			<Line Break=2 />

			<h2>Troubleshooting</h2>
			To report a software bug, please <a href="https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-an-issue">open an issue on Github</a>.
			<br>If you have other <b>modding related questions</b>, ask on the <a href="/forum">forum</a>.
		</Column>
		<Column WidthMax=6 WidthLarge=6 WidthMid=12 Centered=true>
			<img src="/images/sfox.webp" class="img-responsive" />
		</Column>
	</Columns>
</Container>

