@page "/adachi"
@using ShrineFoxCom.Components.Elements
@using ShrineFoxCom.Components.Elements.Project_Pages
@using ShrineFoxCom.Components.Elements.Spectre_Framework
@using ShrineFoxCom.Components.HomePageComponents
@using ShrineFoxCom.Components.Layout

@layout EmptyLayout

<HeadContent>
	<link rel="stylesheet" href="/css/spectre.css" />
	<link rel="stylesheet" href="./css/projects/Adachi/adachi.css">
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/toggle.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle|Open+Sans">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
	<link rel="icon" type="image/x-icon" href="./images/favicon.ico" />

	<title>Persona 5 Adachi Mod</title>
</HeadContent>

<div class="wrapper"> </div>

<Logo/>

<Border Class="">
	<Columns>
		<Column WidthMax=6 WidthLarge=6 WidthMid=12>
			<img class="img-responsive" src="./images/projects/Adachi/adachi_logo.webp">
			<h1><b>The Completely Self-Centered</b></h1>
			<h2><b>Cabbage Detective returns!</b></h2>
			This time he stars in his own quest, investigating
			<br>society's most twisted hearts.
			<br>
			<br>Experience the acclaimed JRPG again from a new angle.
		</Column>
		<Column Centered=true WidthMax=6 WidthLarge=6 WidthMid=12>
			<!-- Trailer -->
			<div class="video-responsive">
				<iframe src="https://www.youtube.com/embed/AK60M1zDv2k" width="350" height="200" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no"></iframe>
			</div>
		</Column>
	</Columns>
</Border>

<Border Class="">
	<Columns>
		<Column Centered=true WidthMax=6 WidthLarge=6 WidthMid=12>
			<!--Slideshow-->
			<div class="video-responsive">
				<iframe src="https://www.youtube.com/embed/ICS_acoFGhQ" width="350" height="200" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no"></iframe>
			</div>
		</Column>
		<Column WidthMax=6 WidthLarge=6 WidthMid=12>
			<h1>FEATURES</h1>
			<ul>
				<li>New player model</li>
				<li>Start the game with Magatsu Izanagi</li>
				<li>New art for the user interface</li>
				<li>New voice clips</li>
				<li>New BGM</li>
				<li>Several different costumes to try out</li>
			</ul>
		</Column>
	</Columns>
</Border>

<Border Class="adachiaoa">
	<center>
		<b>Support Atlus by purchasing Persona 5 Royal on <a href="https://store.playstation.com/en-us/concept/10002771">Playstation Network</a>, <a href="https://www.nintendo.com/store/products/persona-5-royal-switch/">the Nintendo eShop</a> or <a href="https://store.steampowered.com/app/1687950/Persona_5_Royal/">Steam</a>.</b>
		<br>
		<u>Latest Version (v1.1) for PS3 ONLY</u>
		<br><a href="https://drive.google.com/open?id=14QgqisVDPsrfYzuhvEgKnMu61nWtCqsu"><i class="fas fa-file" aria-hidden="true"></i> mod.cpk</a>
		<br><a href="https://drive.google.com/file/d/1oNqzgW0TzLPZaVBpK2L29mWoXsq6q-CI/view?usp=sharing"><i class="fas fa-folder-open" aria-hidden="true"></i> Mod Compendium .zip (Update)</a>
		<br><u>Older Versions (v1.0)</u>
		<br><a href="https://drive.google.com/open?id=1cc0-jblsbopLIh4ckvBlwWPI2av3E-WQ"><i class="fas fa-folder-open" aria-hidden="true"></i> Mod Compendium .zip (Base Mod)</a>
		<br>
		<br>
		<Notice Icon="fa-gun">
			<b>Latest Status (as of 2/1/2026):</b> A port of this mod to the PC version of Persona 5 Royal is underway! 
			After that's done, Switch/PS4 ports might happen. 
			<br>Thank you for your patience and interest as I complete other obligations first.
		</Notice>
	</center>
</Border>

<Border Class="">
	<center>
		<h2><center>RPCS3 (Playstation 3 Emulator) Setup</center></h2>
		<ol>
			<li>Download <a href="https://rpcs3.net/"><b>RPCS3</b></a></li>
			<li>Install a <a href="https://www.playstation.com/en-us/support/system-updates/ps3/"><b>PS3 firmware</b></a></li>
			<li>Install Persona 5 (and the DLC, if you have it).</li>
			<li>Put your RAP file for Persona 5 in <i>RPCS3\dev_hdd0\home\00000001\exdata</i></li>
			<li>Navigate to <i>dev_hdd0\game\NPEB02436\USDIR</i> and move your downloaded <a href="https://drive.google.com/open?id=14QgqisVDPsrfYzuhvEgKnMu61nWtCqsu"><b>mod.cpk</b></a> file inside</li>
			<li>Replace the patch.yml file in the RPCS3 root folder with <b><a href="https://shrinefox.com/PatchCreator">this one</a></b>.</li>
			<li>Start the game and enjoy!</li>
		</ol>
	</center>
</Border>

<Border Class="">
	<center><h2>FANART</h2></center>
	<table>
		<tr>
			<td><a href="https://twitter.com/MMengos/status/1063225609042698240"><img src="https://pbs.twimg.com/media/DsFVDxKV4AEbDfm.jpg"></a> by MMengos</td>
			<td><a href="https://twitter.com/kuki_tan/status/1067170551540711424"><img src="https://pbs.twimg.com/media/Ds9ZO1LV4AEkjqA.jpg"></a> by Kuki_tan</td>
			<td><a href="https://twitter.com/Nx_Mitama/status/1063210930685837312"><img src="https://pbs.twimg.com/media/DsFIqFDWkAAJrlL.jpg"></a> by Nx_Mitama</td>
		</tr>
	</table>
</Border>

<Border Class="" NoBottom=true>
	ShrineFox 2018 - 2026.
	<br>Special Thanks to: <a href="https://twitter.com/tgenigma">TGEnigma</a> (programming),
	<a href="https://twitter.com/Crowpocalypse">Crowpocalypse</a> (art),
	<a href="https://twitter.com/SkylaDoragono">SkylaDoragono</a> (audio ripping)
	<br>We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with ATLUS, SEGA,
	or any of its subsidiaries or its affiliates.<br>The official ATLUS website can be found at
	<a href="https://atlus.com">https://atlus.com</a>. "Persona 5", as well as all characters referenced in this project
	are registered trademarks of ATLUS.
</Border>