@inject IJSRuntime JS

@code
{
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}

<div class="toggle">
    <div class="toggle-title @Class">@Title</div>
    <div class="toggle-inner">
        @ChildContent
    </div>
</div>