<div class="logo">
	<center>
		<a href="https://shrinefox.com" style="z-index:1;position:relative;">
			<img class="img-responsive" src="./images/logo.svg" style="max-height:128px;">
		</a>
	</center>
</div>