@font-face {
	font-family: 'typesauce';
	src: url('./typesauce.woff2') format('woff2'),
		 url('./typesauce.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.typesauce {
	font-family: 'typesauce';
	font-weight: 100;
	padding: 0.5em;
	text-align: center;
}

@keyframes bg {
  from {
	background-position:  256px 0;
  }
  
  to {
	background-position:  0 256px;
  }
}

@keyframes splat {
  from {
	background-position:  0px 512px;
  }
  
  to {
	background-position:  0px 0px;
  }
}

body {
  background-image: url(../../../images/projects/Vinesauce/shroom.webp);
  animation: 4s linear 0s infinite bg;
  background-repeat: repeat;
  font-size: 15pt;
}

.content.vineborder {
	height: auto !important;
	background-repeat: initial !important;
}

.wrapper {
	background: linear-gradient(50deg, rgba(23,21,54,0.6) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 47%, rgba(54,102,70,1) 100%);
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:0;
}

.content {
	z-index: 2;
	position: relative;
	background: url(../../../images/projects/Vinesauce/splatter.webp);
	background-repeat: repeat;
	animation: 6s linear 0s infinite splat;
	color: #fff;
	margin-bottom: 120px;
	box-shadow: 0px 1px 22px #222;
}

.vineborder {
  background-repeat: repeat-x;
  height: 40px;
}

	.vineborder.top {
		background-image: url(../../../images/projects/Vinesauce/vine_border.webp);
		margin-bottom: .5em;
	}

	.vineborder.bottom {
		background-image: url(../../../images/projects/Vinesauce/vine_border2.webp);
		margin-top: .5em;
	}

a {
	color: #00FF8D;
}

a:hover, a:visited {
	color: #26F56C;
}

ul, ol {
	list-style-type: circle;
}

.column {
	height: auto;
	position: relative;
}
.column:hover img {
	max-height: 100%;
	max-width: 100%;
	-webkit-transition: width 1s, height 1s;
	transition: width 1s, height 1s;
}

.innercontainer {
	margin-left:2em;
	margin-right:2em;
}

.card {
	background: transparent;
	border-radius: 20px;
	margin-bottom: 3em;
}