.toggle {
	border-bottom: 1px solid #fff;
	margin-bottom: 0.5em;
}

	.toggle .toggle-title {
		position: relative;
		display: block;
		padding-bottom: 12px;
		cursor: pointer;
		font-size: 19pt;
	}

}

.toggle .toggle-title h3 {
	font-size: 20px;
	margin: 0px;
	line-height: 1;
	cursor: pointer;
	font-weight: 200;
}

.toggle .toggle-inner {
	padding: 7px 25px 10px 25px;
	display: none;
	margin: -7px 0 6px;
}

	.toggle .toggle-inner div {
		max-width: 100%;
		border-color: rgba(194, 225, 245, 0);
		border-color: transparent;
		border-bottom-color: #F2EEE6;
		border-width: 17px;
		margin-left: -17px;
	}

.toggle .toggle:before {
	content: "";
	border-color: transparent #ccc;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	display: block;
	height: 0;
	width: 0;
	left: -16px;
	top: 17px;
	position: relative;
}

.toggle .toggle-title .title-name {
	display: block;
	padding: 25px 25px 14px;
}
