<div id="YourPlayerID"></div>
<script src="https://apis.google.com/js/platform.js"></script>
<br>
<div class="card" style="display: table-row;">
    <div class="card-footer">
        On my <a href="https://www.youtube.com/ShrineFox">YouTube channel</a>, you'll find tutorials for making Persona mods,
        as well as cinematic trailers for mod releases.
        <a href="https://www.youtube.com/ShrineFox/subscribe?sub_confirmation=1">Subscribe</a> to keep up with my work!
        <script src="https://apis.google.com/js/platform.js"></script>
        <span style="top: 4px;position: relative;">
            <div class="g-ytsubscribe" data-channel="ShrineFox" data-layout="default" data-count="default"></div>
        </span>
    </div>
</div>


<!--YouTube Player Load-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        var controller = new YTV('YourPlayerID', {
            channelId: 'UCrB3t1zAQPwAeWtI8RZIOvQ',
            playlist: 'PLU6By7bu-RSsXcvqRkDdh3R4OGva8_No4',
            responsive: true
        });
    });
</script>