/* YouTube TV */

/* Base Canvas */
.ytv-canvas * {
    display: block;
    background: transparent;
    color: rgba(var(--text),1) !important;
}

.ytv-canvas ::-webkit-scrollbar {
	border-left: 0px solid transparent !important;
	width: 10px;
}

.ytv-canvas ::-webkit-scrollbar-thumb {
	background: rgba(var(--accent),1) !important;
}

/* Video */
.ytv-video {
    position: absolute;
    top: 0;
    right: 300px;
    bottom: 0;
    left: 0;
    height: 100%;
}

    .ytv-video iframe {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        display: block;
    }

/* List */
.ytv-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 300px;
}

.ytv-list {
    width: 40% !important;
}

.ytv-video {
    width: 60% !important;
}

@media only screen and (max-width: 992px) {
    .ytv-list {
        width: 100% !important;
    }

    .ytv-video {
        width: 100% !important;
    }
}

.ytv-list-inner {
    overflow: auto;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
}

.ytv-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ytv-list .ytv-active a {
    border-left: 0px;
    background: rgba(var(--accent),0.5) !important;
}

.ytv-list a {
    display: block;
    text-decoration: none !important;
    font-size: 11px;
    color: rgba(var(--text),1) !important;
    padding: 10px;
    padding-left: 8px;
    border-top: 0px;
    border-bottom: 0px;
    border-left:0px;
}

    .ytv-list a b {
        max-height: 45px;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }

.ytv-list li:first-child a {
    border-top: none;
}

.ytv-list li:last-child a {
    border-bottom: none;
}

.ytv-list a:hover,
.ytv-list-header .ytv-playlists a:hover {
	background: rgba(var(--accent),0.5);
}

.ytv-list a:active,
.ytv-list-header .ytv-playlists a:active {
    background: rgba(var(--accent),0.5);
}

.ytv-list .ytv-content {
    padding-left: 125px;
}

.ytv-list .ytv-thumb-stroke {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    z-index: 2;
    outline: 0px;
}

.ytv-list .ytv-thumb {
    float: left;
    position: relative;
    outline: 0px;
}

    .ytv-list .ytv-thumb img {
        width: 120px;
        display: block;
    }

    .ytv-list .ytv-thumb span {
        position: absolute;
        bottom: 5px;
        right: 5px;
        color: rgba(var(--text),1) !important;
        background: transparent;
        font-size: 11px;
        font-weight: bold;
        padding: 0px 4px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

.ytv-views {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    font-weight: normal;
    opacity: 0.3;
}

.ytv-list-header {
    display: none;
}

    .ytv-list-header a {
        background: rgba(var(--bg),1) !important;
        position: relative;
    }

    .ytv-list-header img,
    .ytv-list .ytv-playlists .ytv-thumb img {
        width: 30px;
        vertical-align: middle;
    }

    .ytv-list-header span {
        padding-left: 10px;
        font-size: 12px;
        font-weight: bold;
    }

/* Playlists */
.ytv-playlists {
    z-index: 9;
    position: absolute;
    background: transparent;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: none;
}

    .ytv-playlists img,
    .ytv-list-header img {
        float: left;
    }

    .ytv-playlists a span,
    .ytv-list-header a span {
        white-space: nowrap;
        padding-left: 10px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.ytv-list-header > a span {
    line-height: 30px;
}

.ytv-list-header .ytv-playlists a {
    background: rgba(var(--bg),1);
}

.ytv-playlist-open .ytv-playlists {
    display: block;
}

/* Modifiers */
.ytv-relative {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.ytv-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.ytv-arrow {
    height: 10px;
    width: 0;
    position: relative;
    top: 10px;
    right: 5px;
    border: 10px solid transparent;
    float: right;
    border-top-color: transparent;
    display: none;
}

.ytv-has-playlists .ytv-arrow {
    display: inline-block;
}

.ytv-playlist-open .ytv-arrow {
    border-color: transparent;
    border-bottom-color: transparent;
    top: -10px;
}

.ytv-list-header a:after,
.ytv-clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
