@page "/{*route:nonfile}"
@using ShrineFoxCom.Components.Elements

<PageTitle>ShrineFox.com - 404 Not Found</PageTitle>
<PageNavHeader CurrentPageName="404 Not Found"/>

<h1>404 Not Found</h1>
<Notice>
    Sorry, the content you were looking for has been moved or no longer exists.
    <img class="img-responsive" src="/images/sorry_nothing.webp" />
</Notice>
<br><br>

@code {
    [Parameter]
    public string? Route { get; set; }
}